h1,h2,h3,h4,h5,h6 {
	margin: 10px 0px;
}

.panel {
	margin-bottom: 0px;
}

.panel-body {
	margin: 0px;
	padding: 4px;
}

.panel-tab {
	border-radius: 0px;
	border-top: 0px;
}

.container {
	max-width: 1100px !important;
	//background: #EEEEEE;
	//border: 3px solid #555;
	//border-radius: 4px;
}


.navbar-default {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

.navbar-container {
	margin: 0px auto;
	max-width: 1000px !important;
	height: 50px;
	border-radius: 0px;
}

.navbar-nav {
	margin: 0px;
	height: 100%;
	float:left;
	> li {
		float:left;
		> a {
			padding: 15px 10px;
		}
	}
}

.navbar-right {
	float:right;
}

.navbar-profile {
	height: 100%;
	padding: 0px;
}

.navbar-profile-link {
	height: 100%;
}

.navbar-profile-username {
}

.navbar-profile-avatar {
	width:34px;
	height:34px;
	float:right;
	margin-top: -6px;
	margin-left: 6px;
}

.profile-avatar {
	width:166px;
	height:166px;
	padding:2px;
	background-color: #57cbde;
    /*
    background-color: #90ba3c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(143,185,59,1)), color-stop(95%,rgba(110,140,49,1)));
    background: -moz-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    background: -webkit-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    background: -o-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    background: -ms-linear-gradient( top, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    background: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
    filter: none;

	background-color: #57cbde;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(83,164,196,1)), color-stop(95%,rgba(69,128,151,1)));
    background: -moz-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    background: -webkit-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    background: -o-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    background: -ms-linear-gradient( top, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    background: linear-gradient( to bottom, rgba(83,164,196,1) 5%, rgba(69,128,151,1) 95%);
    filter: none;
    */
}

.row {
	margin: 0px;
}

.login-field {
	min-width: 240px;
	margin:10px;
}

.profile-field {
	min-width: 180px;
	margin:10px;
	> a {
		&:hover {
			text-decoration: none;
		}
	}
}

.navbar-brand {
	.navbar-brand-mob {
    	display:none;
    }
    .navbar-brand-web {
	    display:block;
	}
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.footer {
	margin-top: 20px;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.lobby-card {
	min-width:128px; 
	padding:4px;
	text-decoration:none;
}

.lobby-card-button {
	width:100%;
	padding:2px;
	text-decoration:none;
}

.lobby-card-preview {
	width:32px;
	height:32px;
	float:left;
}

.lobby-card-player {
	padding:0px;
	margin: 4px 0px;
}

.lobby-card-row {
	padding:0px;
}

.lobby-card-player-image {
	display:block;
	margin:0px auto;
}

.lobby-card-player-name {
	text-align:center;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
}

.docked {
	position: relative;
	top: 0;
	left: 0;
	max-width: 1024px !important;
	max-height: 576px !important;
	margin: 0px auto;
}

.container-game {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.game-element {
	background: #5577FF;
	canvas {
		margin: 0px auto;
	}
}

.game-overlay-top {
	width:100%;
	height:30px;
	position:absolute;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;


	&:hover {
		opacity: 0.85;
	}
	pointer-events:none;

	top:0px;
}

.game-overlay-bottom {
	width:100%;
	height:30px;
	position:absolute;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;

	&:hover {
		opacity: 0.85;
	}
	pointer-events:none;

	bottom:0px;
}

.game-overlay-right {
	float: right;
	height: 100%;
	width: 100px;
}

.game-overlay-options {
	width:220px;
	position:absolute;
	right: 0;
	pointer-events:visiblePainted;
}

.game-overlay-options-menu {
	background: rgba(0,0,0,0.4);
	padding: 16px;
	position:relative;
	z-index: 2;

	color:#FFF;
	text-shadow: 1px 1px 1px #000000;
	max-height: 150px !important;
	pointer-events:visiblePainted;
}

.game-overlay-fullscreen-button {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
	pointer-events:visiblePainted;
}

.game-overlay-options-button {
	position: absolute;
	right: 0;
	z-index: 3;
	pointer-events:visiblePainted;
}

.shoutbox {
	width:100%;
	margin:0px;
}

.chat {
	width:60%;
	position:absolute;
	left: 20%;
}

.chat-button {
	width:60%;
	max-width:1024px!important;
	position:absolute;
	margin:0px 20%;
	transition: 3s linear;
}

.chat-window {
    width: 100%;
	max-width:1024px!important;
    height: 100%;
    position: absolute;
	z-index: 1;

    background: #000;
    opacity: 0.4;
	filter: alpha(opacity=40);
}

.chat-text {
	padding: 4px 4px 4px 16px;
	position:relative;
	z-index: 2;

	color:#FFF;
	text-shadow: 1px 1px 1px #000000;
	max-height: 150px !important;
	overflow-y: scroll;

	.chat-input {
		outline: none;
	    background: inherit;
    	border: 0px;
		text-shadow: 1px 1px 1px #000000;
	}
}

input[type=checkbox] {
	float: left;
	margin: 4px 4px 0;
}

/* Tablet CSS Definitions */
@media (min-width: 768px) {

}

/* Mobile CSS Definitions */
@media (max-width: 768px) {

	.navbar-brand {
		.navbar-brand-mob {
		    display:block;
		}
	    .navbar-brand-web {
	    	display:none;
	    }
	}

	.navbar-profile-username {
		display:none;
	}

	.profile-avatar {
		width:96px;
		height:96px;
	}

	.navbar-right {
		>li {
			float:right;
			width:100%;
		}
	}

	.navbar-nav .open .dropdown-menu {
	    position: absolute;
	    float: none;
	    width: auto;
	    right: 0; 
	    left: auto;
	    margin-top: 0;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0,0,0,.15);
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	}
}

#greeting
{
    text-align: center;
}

#chat-window
{
    height: 400px;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
}